*{
    margin: 0;
    padding: 0;
    color:white;
}
div{
    background-color: black;
    height: 60px;

}
#logo{
    color:#f08804;
    font-size: 35px;
    margin-right: 200px;
}
.Account{
    margin-right: 200px;
}
.mycart{
      margin-right: 200px;
}
.contact{
    margin-right: 200px;
}
button{
    background-color: #f08804;
    font-size: 12px;
}